<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

      
      
      
   <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/style.css" media="screen">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

     <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
      <script src="{{site.baseurl}}/jquery.js"></script> 
        <script>
            $(document).ready(function () {
                $(window).scroll(function () {
                    if ($(document).scrollTop() > 50) {
                        $(".header").addClass("scrolled");
                    } else {
                        $(".header").removeClass("scrolled");
                    }
                });
            });
        </script>
  </head>

  <body>
    
    
 
      
      
<header ID="home" class="header">
  <a href="{{ site.baseurl }}/" class="logo"><IMG SRC="/images/logo.svg">Hoosi</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.baseurl }}/#services">Services</a></li>
    <li><a href="{{ site.baseurl }}/#work">Our Work</a></li>
    <li><a href="{{ site.baseurl }}/about/">About</a></li>
    <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
    <li><a href="{{ site.baseurl }}/pricing/">Pricing</a></li>
  </ul>
</header>     

    <div>
      {{ content }}
    </div>
    
<DIV ID="footer">
    <A HREF="tel:386-747-5367"><i class="fas fa-phone" STYLE="opacity:.5;margin-right:5px;"></i> CALL NOW<SPAN>: 386.747.5367</SPAN></A>
</DIV>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
